---
import BaseLayout from 'src/layouts/BaseLayout.astro';
import Landing from '@components/Landing.astro';

import { Picture } from 'astro:assets';
import Stars from '@assets/images/stars.png';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from '@js/utils';
import landingImage from '@assets/images/stone-massage-background1.png'; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="Direct Billing - Professional Massage Therapy"
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="Direct Billing" image={optimizedImage} />

  <!-- ============================================ -->
  <!--                Contact Form                  -->
  <!-- ============================================ -->

  <section id="direct-billing " class="p-(--sectionPadding) max-w-6xl mx-auto">
    <div class="flex flex-col gap-3">
      <span class="cs-topper text-(--secondary)">Direct Billing</span>

      <div class="flex flex-col gap-4">
        <h2
          class="text-[clamp(1.3375rem,3.4vw,1.5625rem)] uppercase text-(--primary)"
        >
          can you direct bill my insurance, benefits provider or wcb coverage?
        </h2>
        <p class="cs-text">
          Yes! We can direct bill to several insurance companies:
        </p>

        <ul class="list-disc px-6 flex flex-col gap-3">
          <li>Alberta Blue Cross/ASEBP</li>
          <li>BPA</li>
          <li>Canada Life/Canada Life PSHCP</li>
          <li>Canadian Construction Workers Union</li>
          <li>Canadian Benefit Providers</li>
          <li>Chambers of Commerce Group Insurance Plan</li>
          <li>CINUP</li>
          <li>ClaimSecure</li>
          <li>Cowan Insurance Group (managed by Express Scripts Canada)</li>
          <li>D.A. Townley</li>
          <li>Desjardins Insurance</li>
          <li>Equitable Life of Canada</li>
          <li>
            First Canadian, GMS Carriers 49 and 50 (Express Scripts Canada)
          </li>
          <li>GroupHEALTH</li>
          <li>GroupSource</li>
          <li>Industrial Alliance</li>
          <li>Johnson Inc.</li>
          <li>La Capitale</li>
          <li>LiUna Local 183</li>
          <li>LiUna Local 506</li>
          <li>Manion</li>
          <li>Manulife Financial</li>
          <li>Medavie Blue Cross</li>
          <li>Maximum Benefit</li>
          <li>People Corporation</li>
          <li>RWAM</li>
          <li>Sunlife</li>
          <li>TELUS AdjudiCare</li>
          <li>Union Benefits</li>
          <li>UV Insurance</li>
        </ul>
      </div>
      <div class="mt-4 flex flex-col gap-4">
        <a
          href="/booking"
          class="mt-6 w-fit cs-button-solid cs-nav-button rounded-button"
          >Book Online</a
        >
      </div>

      <!-- ============================================ -->
      <!--                   Reviews                    -->
      <!-- ============================================ -->
      <section id="reviews">
        <div class="cs-container">
          <span class="cs-topper">Our Reviews</span>
          <h2 class="cs-title">Words From Our Happy Clients</h2>
          <p class="cs-text">
            At Healing Touch Massage Therapy, we pride ourselves on providing
            exceptional care. Here's what some of our clients have to say about
            their experience with us.
          </p>
          <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
              <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://lh3.googleusercontent.com/a-/ALV-UjVbvUJKzn4geowD8tKRhZVyUeK1IIiJvVLWLMf2DIj5RTdHrcc=w90-h90-p-rp-mo-br100"
                alt="profile picture"
                width="80"
                height="80"
              />
              <p class="cs-item-p">
                "I have been her client for some time and every session has been wonderful. Wouldn't want anyone else to be my massage therapist, definitey recommend!"
              </p>
              <span class="cs-reviewer">
                Jace S.
                <span class="cs-desc">Client</span>
              </span>
              <Picture
                src={Stars}
                alt="stars"
                pictureAttributes={{ class: 'cs-item-stars' }}
                loading="lazy"
                decoding="async"
                width="96"
                height="16"
              />
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
              <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://lh3.googleusercontent.com/a-/ALV-UjXmEGHsd92byRilpLlcbYmei55_lfJffzFDX32swS5Js9RInkVP=w90-h90-p-rp-mo-br100"
                alt="profile picture"
                width="80"
                height="80"
              />
              <p class="cs-item-p">
                "Does a very good job, friendly, and an absolute pleasure to have around! Would definitely recommend."
              </p>
              <span class="cs-reviewer">
                Bine B.
                <span class="cs-desc">Client</span>
              </span>
              <Picture
                src={Stars}
                alt="stars"
                pictureAttributes={{ class: 'cs-item-stars' }}
                loading="lazy"
                decoding="async"
                width="96"
                height="16"
              />
            </li>
            <!-- Review 3 -->
            <li class="cs-item">
              <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://lh3.googleusercontent.com/a/ACg8ocL7YLkW6GAFt4PR4r7f-7EMP1cNnlJhL8pF4UHeC659CJzq3A=w90-h90-p-rp-mo-br100"
                alt="profile picture"
                width="80"
                height="80"
              />
              <p class="cs-item-p">
                "It was amazing, as usual. I’ve been with Cecilia for the last three years and have never gone anywhere else."
              </p>
              <span class="cs-reviewer">
                Noor S.
                <span class="cs-desc">Client</span>
              </span>
              <Picture
                src={Stars}
                alt="stars"
                pictureAttributes={{ class: 'cs-item-stars' }}
                loading="lazy"
                decoding="async"
                width="96"
                height="16"
              />
            </li>
          </ul>
          <a
            aria-label="read more reviews"
            href="https://www.google.com/maps/place/Stone+Massage/@53.399848,-113.5897509,526m/data=!3m1!1e3!4m18!1m9!3m8!1s0x2f64181384393b25:0xcc81b73ee08007b3!2sStone+Massage!8m2!3d53.399848!4d-113.587176!9m1!1b1!16s%2Fg%2F11xgk681yb!3m7!1s0x2f64181384393b25:0xcc81b73ee08007b3!8m2!3d53.399848!4d-113.587176!9m1!1b1!16s%2Fg%2F11xgk681yb?entry=ttu&g_ep=EgoyMDI1MDYwMy4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="cs-button-solid rounded-button">Our Reviews</a
          >
        </div>
      </section>
    </div>

    <style lang="less">
      /*-- -------------------------- -->
  <---          Reviews           -->
  <--- -------------------------- --*/

      /* Mobile - 360px */
      @media only screen and (min-width: 0em) {
        #reviews {
          /* Centers the button */
          text-align: center;
          padding: var(--sectionPadding);

          .cs-container {
            width: 100%;
            max-width: (1104/16rem);
            margin: auto;
          }

          .cs-topper {
            text-align: center;
            margin-bottom: (16/16rem);
          }

          .cs-title {
            text-align: center;
            max-width: (700/16rem);
          }

          .cs-text {
            text-align: center;
            max-width: (650/16rem);
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
          }

          .cs-card-group {
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
            padding: 0;
          }

          .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (542/16rem);
            margin: 0 auto (64/16rem);
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            background: #fff;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: (4/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .cs-item-img {
            width: (80/16rem);
            height: (80/16rem);
            position: absolute;
            top: (-40/16rem);
          }

          .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #e8e9ec;
          }

          .cs-reviewer {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            width: 40%;
            margin: 0 auto 0 0;
            color: var(--headerColor);
            display: block;
          }

          .cs-desc {
            font-size: (14/16rem);
            font-weight: 400;
            color: var(#353535);
            display: block;
          }

          .cs-item-stars {
            width: (96/16rem);
            height: (16/16rem);
          }
        }
      }

      /* Tablet - 768px */
      @media only screen and (min-width: 48em) {
        #reviews {
          .cs-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
          }

          .cs-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
          }
        }
      }

      /* Dark Mode */
      @media only screen and (min-width: 0em) {
        body.dark-mode {
          #reviews {
            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-reviewer {
              color: var(--bodyTextColorWhite);
            }

            .cs-item {
              background: var(--medium);
            }

            .cs-desc {
              color: var(--primaryLight);
            }
          }
        }
      }
    </style>
  </section></BaseLayout
>
