---
import BaseLayout from 'src/layouts/BaseLayout.astro';
import client from '@data/client.json';
import Landing from '@components/Landing.astro';
import ogImage from '@assets/images/CTA/gallery-og.jpg';

import heroImg from '@assets/images/hero-img.jpg';

import { Picture } from 'astro:assets';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from '@js/utils';
import landingImage from '@assets/images/stone-massage-background1.png'; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);
const optimizedOg = await getOptimizedImage(ogImage);
---

<BaseLayout
  title="Gift Certificate"
  description="Surprise your loved ones with the ultimate wellness gift. Choose a 1-hour or 2-hour massage certificate and let them experience expert care and deep relaxation."
  preloadedImage={optimizedImage}
  ogImage={optimizedOg}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <!-- <Landing title="Contact" image={optimizedImage} /> -->

  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero">
    <div class="cs-container">
      <div class="cs-flex-group">
        <span class="cs-topper mt-12">Hot Stone Massage - Edmonton</span>
        <h1 class="cs-title shadow-text-lg">Relax. Rejuvenate. Revive.</h1>
        <p class="cs-text mt-28 shadow-text-lg">
          Professional massage therapy for relaxation, pain relief, and overall
          wellness in Edmonton.
        </p>
        <!-- <a href="/about" class="cs-button-solid">Call Now (780-123-4567)</a> -->
        <a
          href="tel:587-938-0458"
          class="cs-button-solid w-[300px] rounded-full mt-8 text-center text-white leading-snug p-4 text-[.6rem] md:text-[1rem] lg:w-[220px] xl:w-[230px]"
          >
          <span class="text-[1rem]">Call for Mobile Massage</span> <i class="fas fa-phone text-[#28a745] ml-1"></i>
         </a>
        <a
          href="https://www.massagebook.com/therapists/StoneMassage?src=external"
          class="cs-button-solid w-[300px]  rounded-full text-center text-white leading-snug p-4 text-[.6rem] md:text-[1rem] lg:w-[230px] lg:mt-8"
          >
          <span class="text-[1rem]">Book In-Clinic Massage </span> <i class="fas fa-calendar text-[#28a745]"></i>
          </a>
      </div>
    </div>

    <!-- Background Image -->
    <!-- We can't use Astro <Picture /> as it does not support multiple sources -->
    <!-- <ImageSlider imgDatas={heroImages} isAutoSlide client:visible /> -->
    <Picture
      src={heroImg}
      alt="lady in a stone massage"
      formats={['avif', 'webp']}
      pictureAttributes={{ class: 'cs-picture hidden' }}
      loading="eager"
    />
  </section>

  <style lang="less">
    /* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

  </style>
</BaseLayout>
